<h2>アーティスト・ジャンル・レーベル登録</h2>

<%= form_for(@artist) do |f| %>

    <h4>アーティスト名</h4>
    <%= f.text_field :artist %>

    <%= f.submit '登録' %>
<% end %>

<%= form_for(Label.new) do |f| %>

    <h4>レーベル名</h4>
    <%= f.text_field :label %>

    <%= f.submit '登録' %>
<% end %>

<%= form_for(Genre.new) do |f| %>

    <h4>ジャンル名</h4>
    <%= f.text_field :genre %>

    <%= f.submit '登録' %>
<% end %>
