  <head>
    <meta charset="utf-8">
    <title>機能一覧</title>
  </head>

  <body>
    <div class="container">
    <div class="row">
    <div class="col-md-10 col-md-offset-1" >

  <%= link_to "商品登録", new_admins_product_path, class: "btn btn-success col-md-3", style:"margin: 10px 10px 10px 10px;" %>
  <%= link_to "アーティスト登録", new_admins_artist_path, class: "btn btn-success col-md-3", style:"margin: 10px 10px 10px 10px;" %>
  <%= link_to "商品一覧", admins_products_path, class: "btn btn-success col-md-3", style:"margin: 10px 10px 10px 10px;" %>
  <%= link_to "購入履歴", order_detail_path, class: "btn btn-success col-md-3", style:"margin: 10px 10px 10px 10px;" %>
  <%= link_to "ユーザー一覧", admins_users_path, class: "btn btn-success col-md-3", style:"margin: 10px 10px 10px 10px;" %>

</div>
</div>
</div>
</div>
  </body>
