  <head>
    <meta charset="utf-8">
    <title>機能一覧</title>
  </head>

  <body>

  <%= link_to "商品登録", new_admins_product_path %>
  <%= link_to "アーティスト登録", new_admins_artist_path %>
  <%= link_to "商品一覧", product_path %>
  <%= link_to "購入履歴", order_detail_path %>
  <%= link_to "ユーザー一覧", edit_user_path %>

  </body>
