  <head>
    <meta charset="utf-8">
    <title>機能一覧</title>
  </head>
  <body>
  <%= link_to “商品登録”, _path %>
  <%= link_to “アーティスト登録”, _path %>
  <%= link_to “商品一覧”, _path %>
  <%= link_to “購入履歴”, _path %>
  <%= link_to “ユーザー一覧”, _path %>

  </body>
