<h3>ユーザー編集</h3>
<%= form_for(@user_id) do |f| %>
  <%= f.label :last_name, '姓' %>
  <%= f.text_field :last_name %>

  <%= f.label :first_name, '名' %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name_k, '姓(カナ)' %>
  <%= f.text_field :last_name %>

  <%= f.label :first_name_k_name, '名(カナ)' %>
  <%= f.text_field :first_name_k %>

  <%= f.label :postalcode, '郵便番号' %>
  <%= f.text_field :postalcode %>


  <%= f.submit '編集' %>
<% end %>
