<div class="container">

      <div class="row">
      <div class="col-md-10 col-md-offset-1">
      	 <div class="col-md-5" >
      	 	<%= render 'users/userinfo' %>
      	 </div>
      	 <div class="col-md-7" >
            <%= render 'addresses/addresses' %>
      	 </div>
      </div>
      </div>


      <div class="row">
            <div class="col-md-10 col-md-offset-1">
                  <h3 class="text-center"><strong>購入履歴</strong></h3>
                  <table class="table table-bordered">
                  <thead>
                  <tr>
                        <th>No</th>
                        <th>購入者</th>
                        <th>購入日</th>
                        <th>購入商品詳細</th>
                        <th>購入価格総計</th>
                        <th>送付先</th>
                        <th>ステータス</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @orders.each do |order| %>
                  <tr>
                        <td><%= order.id %></td>
                        <td><%= order.user.last_name %><%= order.user.first_name %></td>
                        <td><%= order.created_at %></td>
                        <td>
                              <% order.order_details.each do |order_detail| %>
                              <%= order_detail.product.album %> <%= order_detail.quantity %>枚<br>
                              <% end %>
                        </td>
                        <td>￥<%= order.subtotal_price %></td>
                        <td>
                              〒<%= order.postalcode %><br>
                              <%= order.address %><br>
                              <%= order.last_name %>
                        </td>
                        <td><%= order.order_status %></td>
                  </tr>
                  <% end %>
                  </tbody>
                  </table>
            </div>
      </div>


      <div class="row">
            <div class="col-md-8 col-md-offset-2">
                  <h3 class="text-center"><strong>いいね一覧</strong></h3>
                  <div class="d-inline-block" style="margin: 30px 50px 30px 80px;">
                  <% @favorites.each do |favorite| %>
                  <%=link_to product_path(favorite.product.id) do %>
                  <%= attachment_image_tag favorite.product, :image, :fill, 150, 150, format: 'jpg' %>
                  <% end %>
                  <% end %>
                  </div>
            </div>
      </div>

</div>