<div class="container">

      <div class="row">
      <div class="col-md-10 col-md-offset-1">
      	 <div class="col-md-5" >
      	 	<%= render 'users/userinfo' %>
      	 </div>
      	 <div class="col-md-7" >
                  <h3 class=""><strong>送付先住所</strong></h3>

                  <table class="table ">

                  <thead>
                        <th>郵便番号</th>
                        <th>住所</th>
                        <th>宛名</th>
                  </thead>
                    <% @addresses.each do |address| %>
                  <tbody>
                   <td><%= address.postalcode %></td>
                   <td><%= address.address %></td>
                   <td><%= address.name %></td>
                  </tbody>
                  <% end %>
                  </table>

                  <div class="text-center">
                  <%= paginate @addresses, param_name: 'addresses_page', class: "paginate" %>
                  </div>

      	 </div>
      </div>
      </div>


      <div class="row">
            <div class="col-md-10 col-md-offset-1">
                  <h3 class="text-center"><strong>購入履歴</strong></h3>
                  <table class="table table-bordered">
                  <thead>
                  <tr>
                        <th>購入日</th>
                        <th>購入商品詳細</th>
                        <th>購入価格総計</th>
                        <th>送付先</th>
                        <th>ステータス</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @orders.each do |order| %>
                  <tr>
                        <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
                        <td>
                              <% order.order_details.each do |order_detail| %>
                              <%= order_detail.product.album %> <%= order_detail.quantity %>枚
                              ¥<%= get_subtotal(order_detail) %><br>
                              <% end %>
                        </td>
                        <td>￥<%= order.subtotal_price %></td>
                        <td>
                              〒<%= order.postalcode %><br>
                              <%= order.address %><br>
                              <%= order.last_name %>
                        </td>
                        <td><%= order.order_status %></td>
                  </tr>
                  <% end %>
                  </tbody>
                  </table>
                  <div class="text-center">
                  <%= paginate @orders, param_name: 'orders_page',class: "paginate" %>
                  </div>
            </div>
      </div>


      <div class="row">
            <div class="col-md-10 col-md-offset-1">
                  <h3 class="text-center"><strong>いいね一覧</strong></h3>
                  <div class="d-inline-block"  style="margin-top: 30px;">

                        <div class="multiple-items">
                              <% @favorites.each do |favorite| %>
                                    <div>
                                    <%=link_to product_path(favorite.product.id) do %>
                                    <%= attachment_image_tag favorite.product, :image, :fill, 150, 150, format: 'jpg' %>
                                    <% end %>
                              </div>
                              <% end %>

                        </div>
                  </div>
            </div>
      </div>

</div>