<div class='row'>
<div class="col-md-8 col-md-offset-2">

    <div class="row">
		<% if notice %>
		        <div class="alert alert-info alert-dismissible" style="margin: 10px 0px;">
		          <button type="button" class="close" data-dismiss="alert">
		          	 <span aria-hidden="true">&times;</span>
		            <span class="sr-only">close</span>
		          </button>
		        	<%= flash[:notice] %>
		      </div>
		<% end %>
    <div class="col-md-6 col-md-offset-3">


	    	<div class="row"  style="margin: 10px 0px;">
	    		<h2   style="margin: 20px 0px;">ご注文の確認</h2>

				<div class="row" style="margin:  10px 0px 0px;">
					<strong class="col-md-2">小計</strong><span class="col-md-7 col-md-offset-3">¥<%= get_price(@carts) %></span>
				</div>
				<div class="row" style="margin: 10px 0px 0px;">
					<strong class="col-md-2">送料</strong><span class="col-md-7 col-md-offset-3">¥<%= @fee %></span>
				</div>
				<div class="row" style="margin: 10px 0px 0px;">
					<strong class="col-md-2">請求額</strong><span class="col-md-7 col-md-offset-3">¥<%= get_totalprice(@carts) %>(税込)</span>
				</div>
			</div>
			<div class="row" style="margin: 40px 0px;">
		        <h2  style="margin: 10px 0px 20px;">お届け先住所の選択</h2>
		        <div class="row">
		        	<div class="col-md-12" style="margin-left:15px;">
		        		<div data-turbolinks="false">
						<%= form_for @order, url:user_orders_path(user_id: @user) do |f| %>
				        <ul class="list-unstyled">
				        	<strong  style="margin-bottom: 15px;">ご自宅</strong>
				        	<div class="col-md-12">
				        	<li>
				        	<label style="font-weight: normal; margin-bottom: 15px;">
				        		<%= f.radio_button :address, @user.address ,{:checked => true} %>
				        			〒<%= @user.postalcode %>
				        			<%= @user.address %>
									<%= @user.last_name + @user.first_name %>
				        	</label>
				        	</li>
				        	</div>
				        	<p style="margin: 15px 0px;"><strong>ご自宅以外のお届け先</strong></p>
				        	<div class="col-md-12">
				        	<% @addresses.each do |address| %>
					            <li>
				                <label style="font-weight: normal;">
				                <%= f.radio_button :address, "#{address.id} #{address.address}" %>
				                〒<%= address.postalcode %>
				                <%= address.address %>
				                <%= address.name %>
				                </label>
					            </li>
				             <% end %>
				           </div>
				        </ul>


		                <%= f.hidden_field :subtotal_price, :value => get_totalprice(@carts) %>
						<%= f.hidden_field :fee, :value => @fee %>
						<%= link_to "お届け先追加", user_addresses_path, class: "btn  btn-default" %>
						<div class="row"  style="margin: 40px 0px;">
								<h2  style="margin-top: 10px">お支払い方法</h2>
								<div class="col-md-12">
								<div class="radio">
				  					<label><input type="radio" name="radio" id="radio1" value="radio1" checked> 銀行振込</label>
								</div>
								<div class="radio">
								  	<label><input type="radio" name="radio" id="radio2" value="radio2"> クレジットカード</label>
								</div>
								<div class="radio disabled">
								 	 <label><input type="radio" name="radio" id="radio3" value="radio3"> 代金引換</label>
								</div>
								</div>
				    	</div>
						<%= f.submit "購入" ,class: "btn btn-secondary btn-block", :style=>"background-color: #777;color: white;" %>
	        			<% end %>
	        			</div>
					</div>
				</div>
			</div>
    </div>