<div class='row'>
<div class="col-md-8 col-md-offset-2">
    <div class="row">
    <div class="col-md-8 col-md-offset-2">
    	<h1>購入画面</h1>
		<p class="page-header">小計		¥<%= get_price(@carts) %></p>
		<p class="page-header">送料		¥<%= @fee %></p>
		<p class="page-header">請求額	¥<%= @total %></p>



		<%= form_for @order, url:user_orders_path(user_id: @user) do |f| %>

		<% @addresses.each do |address| %>

		<ul>
			<li>
				<label>
				<%= f.radio_button :address, address.address %>
				<%= address.address %>
				</label>
			</li>
		</ul>

		<% end %>
		<% end %>
















            <% @carts.each do |cart| %>
				<%= cart.product.album %><br>
				<%= cart.quantity %><br>
				<%= get_subtotal(cart) %><br>
			<% end %>
			<%= @user.last_name %>

		<%= form_for @order, url:user_orders_path(user_id: @user) do |f| %>
				<%= f.hidden_field :subtotal_price, :value => "get_price(@carts)" %>
				<%= f.hidden_field :fee, :value => "@fee" %>
				<%= f.hidden_field :order_id, :value => "" %>
				<%= f.hidden_field :order_id, :value => "" %>
			<%= f.submit "購入" ,class: "btn-sm btn-primary" %>
		<% end %>
	</div>
    </div>
</div>
</div>