<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #00ff7f;border-color: white;padding: 0 0 0 0;">
    <div class="container">
      <div class="center-block" style="margin: 0 0 25px 0;">
      <nav class="nav navbar-nav navbar-left">
      <h1>SoundG</h1>
      </nav>
    </div>
      <nav>
        <ul class="nav navbar-nav navbar-right">
        <div id="slidemenu">
          <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
              <li class="">
                <%= link_to " login", new_admin_session_path, class: "glyphicon glyphicon-log-in sign_in", style: "padding: 0 0 0 0;"  %>
              </li>
          </ul>
    </div>
  </div>
  </div>
  </header>

  <div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
    <div class="form-user style-1 rounded has-shadow-1">

      <div class="form-header text-center">
        <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
</div>
</div>
</div>
</div>
</div>
