<div class="col-xs-12">
	<div class="d-center-block">
		<div class="nested-fields well well-compact">

			<div class="filed">
				<%= f.label :discs, "ディスク登録" %>
			</div>

			<div class="form-group">
				<%= f.label :discs_number, "ディスクNo." %>
				<%= f.text_field :disc_number %><br>
				<%= link_to_remove_association "ディスク削除", f,  class: "btn btn-danger" %>
			</div>

			<%= f.label :music, "楽曲" %>

			<div  class="music">
				<%= f.fields_for :musics do |music| %>
				<%= render 'music_fields', f: music %>
				<% end %>

				<div class="links">
					<%= link_to_add_association "楽曲追加", f, :musics, class: "btn btn-success" %>
				</div>
			</div>
		</div>
	</div>
</div>
