<%= form_for @product, url: admins_product_path(product_id: @product.id) do |f| %>

<%= render 'layouts/header' %>

<div class="text-center">
	<h1>商品編集</h1>
</div>

<div class="container">
	<div class="nested-fields well well-compact">
	<div class="row">




		<div class="col-lg-6">



	<div class="filed", style="font-size: 24px; padding-bottom: 40px;">
		<div class="col-md-1">
		</div>
		<div class="col-md-4">
			<%= f.label :album, "アルバム名" %>
		</div>
		<div class="col-md-6">
			<%= f.text_field :album %>
		</div>
	</div><br>

	<div class="filed", style="font-size: 24px; padding-bottom: 30px;">
		<div class="col-md-1">
		</div>
		<div class="col-md-4">
			<%= f.label :genre, "ジャンル" %>
		</div>
		<div class="col-md-6">
		<%= f.collection_select :genre_id, Genre.all, :id, :genre, :include_blank => true %>
	</div><br>
	</div>



	<div class="filed", style="font-size: 24px; padding-bottom: 30px;">
		<div class="col-md-1">
		</div>
		<div class="col-md-4">
			<%= f.label :label, "レーベル" %>
		</div>
		<div class="col-md-6">
		<%= f.collection_select :label_id, Label.all, :id, :label, :include_blank => true %>
	</div><br>
	</div>

	<div class="filed", style="padding-bottom: 50px;">
		<div class="col-md-1">
		</div>
		<div class="col-md-4", style="font-size: 24px;" >
			<%= f.label :image, "CD画像" %>
		</div>
		<div class="col-md-6">
		<%= f.attachment_field :image %>
	</div>
	</div><br>

</div>

<div class="col-lg-6">

<div class="filed", style="font-size: 24px; padding-bottom: 50px;">
	<div class="col-md-5">
	<%= f.label :price, "価格" %>
</div>
		<div class="col-md-7">
	<%= f.number_field :price %>
</div><br>
</div>



	<div class="filed", style="font-size: 24px; padding-bottom: 50px;">
		<div class="col-md-5">
		<%= f.label :stock_quantity, "在庫数" %>
	</div>
			<div class="col-md-7">
		<%= f.number_field :stock_quantity %>
	</div><br>
	</div>


	<div class="filed", style="font-size: 24px; padding-bottom: 30px;">
		<div class="col-md-5">
		<%= f.label :sales_status, "販売ステータス" %>
	</div>
			<div class="col-md-7">
				<%= f.select :sales_status, Product.sales_statuses.keys.map{|status| [status, status]} %>
	        </div><br>
	</div>

</div>
</div>
</div>


<div id="discs">
	<%= f.fields_for :discs do |disc| %>
	<%= render 'disc_fields', f: disc %>
<% end %>
</div>

<div id="links">
	<%= link_to_add_association "ディスク追加", f, :discs, class: "btn btn-success" %>
</div><br>

<%= f.submit "商品登録", class: "btn btn-success btn-lg active" %><br>

<% end %>
