<%= render 'layouts/header' %>
<div class="container">
	<div class="row">
	<div class="d-inline-block col-lg-12">

		<% if notice %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">
          	<span aria-hidden="true">&times;</span>
            <span class="sr-only">close</span>
          </button>
          <%= notice %>
        </div>
    <% end %>
    <% if alert %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
      	<span aria-hidden="true">&times;</span>
        <span class="sr-only">close</span>
      </button>
      <%= alert %>
    </div>
    <% end %>

		<% @search_products.each do |product| %>

		<div class="d-inline-block col-lg-3" style="margin: 30px 0 30px 0;">
			<%= link_to product_path(product.id) do %>
			<%= attachment_image_tag product, :image, :fill, 200, 200, format: 'jpg' %>
			<% end %>
			<div class="productdata">
				<p class="" style="margin: 10px 0px 0px 0px;"><%= product.album %></p>
				<p class="" style="margin: 0px 0px 0px 0px;"><%= product.label.label %></p>
				<% if product.sales_status == "販売停止中" or product.stock_quantity == 0 %>
                	<p class="" style="margin: 0px 0px 0px 0px;">販売停止中</p>
          		<% else %>
            		<p class="" style="margin: 0px 0px 0px 0px;">￥<%= get_producttax(product) %></p>
         		<% end %>
					<% product.discs.first(1).each do |disc| %>
					<% disc.musics.first(1).each do |music| %>
					<p class="" style="margin: 0px 0px 0px 0px;"><strong><%= music.artist.artist %></strong></p>
					<% end %>
			        <% end %>
			        <p class="" style="margin: 0px 0px 0px 0px;"><i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i><%= product.favorites.count %></p>
			</div>
		</div>
		<% end %>

	</div>
	</div>
</div>
<div class="text-center">
	<%= paginate @products, class: "paginate" %>
</div>
