<%= Genre.all.length %><br>
<%= Label.all.length %><br>
<%= Artist.all.length %>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    ジャンル
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li role="presentation">
      okahsi
    </li>
  </ul>
</div>


<%= form_for(@album) do |f| %>

<h1>商品登録</h1>

<%= f.label :album, "アルバム名" %>
<%= f.text_field :album %>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    ジャンル
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" role="menu">
      <% Genre.all.each do |g| %>
    <li role="presentation">
      <%= g.genre %>
    </li>
      <% end %>
  </ul>
</div>


<p>CD画像</p>
<%= f.attachment_field :image %>


<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    レーベル
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
      <% Label.all.each do |l| %>
    <li role="presentation">
      <%= l.label %>
    </li>
      <% end %>
  </ul>
</div>


<p>価格</p>
<%= f.text_field :price %>

<p>在庫数</p>
<%= f.text_field :stock_quantity %>

<p>販売ステータス</p>
<%= f.text_field :sales_status %>

<p>ディスク登録</p>

<%= form_for (Disc.new) do |f| %>
<%= f.text_field :disc_number %>

<% end %>

<%= form_for (Music.new) do |m| %>

<p>曲名</p>
<%= m.text_field :title %>

<p>トラックナンバー</p>
<%= m.text_field :track_number %>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    アーティスト
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
      <% Artist.all.each do |f| %>
    <li role="presentation">
      <%= f.id %>
    </li>
      <% end %>
  </ul>

</div>


<% end %>

<br>
  <%= f.submit %>

<% end %>